@model MediaLibrary.ViewModels.Recording.CreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.EditorForModel()
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Trackが一つの場合は削除不可とする
        $(function () {
            $('#Delete').hide();
        })

        //不要なTrack入力を削除する
        $('#Tracks').on('click', '#Delete', function () {
            var cnt = $('#Tracks').children('#Track').length;
            if (cnt > 1)
            {
                $(this).parent().parent().remove();
                if (cnt === 2)
                {
                    $('#Delete').animate().hide();
                }
            }
        });

        //複数のTrack入力を可能とするため
        $('#Generate').click(function () {
            $('#Delete').show();
            $('#Track').clone().appendTo('#Tracks');

        });

        //上に曲順操作
        $('#Tracks').on('click', '#Up', function () {
            var thisTrack = $(this).parent().parent();
            thisTrack.prev().before(thisTrack);
        });

        //下に曲順操作
        $('#Tracks').on('click', '#Down', function () {
            var thisTrack = $(this).parent().parent();
            thisTrack.next().after(thisTrack);
        });

    </script>
}
